In [1]:
import pandas as pd

# 참고
Canna, Cuzz, Faker = T1 선수
Viper, DuDu = HLE 선수
아래 예시는 만든 예시이며 한개의 경기만을 나타내고 있음. 하지만 각 테이블에는 그 시즌에 있던 모든 경기를 row를 늘려서 저장 부탁드립니다.

# 각 시즌 리그별로 저장부탁드립니다~
## ex. LCK-2020-summer-gold.csv

In [15]:
data = [[2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Canna', '0:00', '500'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Canna', '1:00', '750'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Canna', '31:00', '16.k'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '0:00', '500'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '1:00', '840'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '31:00', '11.8k'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'DuDu', '0:00', '500'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'DuDu', '1:00', '777'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'DuDu', '31:00', '10.5k'],]
column_list = ['year', 'season', 'league_name', 'date', 'week', 'team_1', 'team_2', 'team', 'set_number', 'player_name', 'minute', 'gold']

In [16]:
df = pd.DataFrame(data=data, columns=column_list)

In [17]:
df

,year,season,league_name,date,week,team_1,team_2,team,set_number,player_name,minute,gold
0,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Canna,0:00,500
1,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Canna,1:00,750
2,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Canna,31:00,16.k
3,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,0:00,500
4,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,1:00,840
5,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,31:00,11.8k
6,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,DuDu,0:00,500
7,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,DuDu,1:00,777
8,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,DuDu,31:00,10.5k

# dragon 관련된것만 저장하는 table
## ex. LCK-2020-summer-dragon.csv

# 참고
팀 상관없이 드래곤 처치할때마다 sequence는 1씩 늘어나도록 만들어주세요. Elder도 dragon으로 똑같이 쳐서 1 올려주세요

In [9]:
data = [[2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '8:00', 1, 'fire_dragon'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'Viper', '13:00', 2, 'ocrean_dragon'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'Viper', '19:00', 3, 'earth_dragon'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'Viper', '24:00', 4, 'earth_dragon'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '29:00', 5, 'earth_dragon'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Canna', '36:00', 6, 'elder_dragon']]

column_list = ['year', 'season', 'league_name', 'date', 'week', 'team_1', 'team_2', 'team', 'set_number', 'player_name', 'minute', 'sequence', 'dragon_type']

In [10]:
pd.DataFrame(data=data, columns=column_list)

,year,season,league_name,date,week,team_1,team_2,team,set_number,player_name,minute,sequence,dragon_type
0,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,8:00,1,fire_dragon
1,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,Viper,13:00,2,ocrean_dragon
2,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,Viper,19:00,3,earth_dragon
3,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,Viper,24:00,4,earth_dragon
4,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,29:00,5,earth_dragon
5,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Canna,36:00,6,elder_dragon

# rift, baron 관련된것만 저장하는 table
## ex. LCK-2020-summer-baron.csv

# 참고
한경기에서 rift는 최대 2개까지 나오며, rift가 다 나오고 나서 baron이 나옵니다. baron나오면 sequence는 다시 1부터 시작해주세요

In [11]:
data = [[2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '9:00', 1, 'rift_herald'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '17:00', 2, 'rift_herald'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'DuDu', '31:00', 1, 'baron'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Faker', '37:00', 2, 'baron']]

column_list = ['year', 'season', 'league_name', 'date', 'week', 'team_1', 'team_2', 'team', 'set_number', 'player_name', 'minute', 'sequence', 'objective_type']

In [12]:
pd.DataFrame(data=data, columns=column_list)

,year,season,league_name,date,week,team_1,team_2,team,set_number,player_name,minute,sequence,objective_type
0,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,9:00,1,rift_herald
1,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,17:00,2,rift_herald
2,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,DuDu,31:00,1,baron
3,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Faker,37:00,2,baron

# tower 관련된것만 저장하는 table

# 참고
타워도 팀 상관없이 부수는대로 sequence 1씩 올려주세요. 그리고 inhib은 sequence 따로 1부터 시작해주세요. minion이 타워를 부셨으면 player_name에 minion을 적어주세요

In [13]:
data = [[2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '17:26', 1, 'tower'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Viper', '18:00', 2, 'tower'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'DuDu', '19:00', 3, 'tower'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Faker', '33:00', 4, 'tower'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'minion', '35:00', 5, 'tower'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'Viper', '37:00', 1, 'inhib'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'Viper', '37:00', 6, 'tower'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'minion', '37:00', 7, 'tower'],]

column_list = ['year', 'season', 'league_name', 'date', 'week', 'team_1', 'team_2', 'team', 'set_number', 'player_name', 'minute', 'sequence', 'objective_type']

In [14]:
pd.DataFrame(data=data, columns=column_list)

,year,season,league_name,date,week,team_1,team_2,team,set_number,player_name,minute,sequence,objective_type
0,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,17:26,1,tower
1,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Viper,18:00,2,tower
2,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,DuDu,19:00,3,tower
3,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Faker,33:00,4,tower
4,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,minion,35:00,5,tower
5,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,Viper,37:00,1,inhib
6,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,Viper,37:00,6,tower
7,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,minion,37:00,7,tower

# 선수들의 킬 관련된 table

In [18]:
data = [[2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '15:00', 'double'],
        [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '15:00', 'triple'],
        [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Cuzz', '15:00', 'quadra'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'HLE', 1, 'DuDu', '19:00', 'double'],
       [2020, 'summer', 'LCK', '6/20/2020', 1, 'HLE', 'T1', 'T1', 1, 'Faker', '32:00', 'double']]

column_list = ['year', 'season', 'league_name', 'date', 'week', 'team_1', 'team_2', 'team', 'set_number', 'player_name', 'minute', 'kill_type']

In [19]:
pd.DataFrame(data=data, columns=column_list)

,year,season,league_name,date,week,team_1,team_2,team,set_number,player_name,minute,kill_type
0,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,15:00,double
1,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,15:00,triple
2,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Cuzz,15:00,quadra
3,2020,summer,LCK,6/20/2020,1,HLE,T1,HLE,1,DuDu,19:00,double
4,2020,summer,LCK,6/20/2020,1,HLE,T1,T1,1,Faker,32:00,double